@import '~@angular/material/theming';
@import '../../../styles.scss';

textarea{
height: 80px;
}

.btn_save{
    border:1px solid mat-color($tareas-primary);
    background-color: mat-color($tareas-primary);
    color:white!important;
    border-radius: 0px!important;
}
.btn_save:disabled{
    border:1px solid #a3c18c!important;
    background-color: #a3c18c!important;
}

.header_{
    display: flex;
    justify-content: space-between;
}
.btn_ver_pagina{
    background: white!important;
    color:mat-color($tareas-primary)!important;
    border:1px solid mat-color($tareas-primary)!important;
    // border-radius: 5px!important;
} 
.btn_generic{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none!important;
}