<div class="container">
    <div class="d_flex justify_content_center">
        <mat-card class="col-md-3">
            <span class="pd-5 col-12 d_flex justify_content_center title_cambiar">Cambiar contraseña</span>
            <form [formGroup]="form">
                <div class="d_flex formulario_logo">
                    <div class="login">
                        <div class="inputs">
                            <mat-form-field class="col-12 pd-5">
                                <mat-label>Usuario</mat-label>
                                <input matInput formControlName="Usuario">
                            </mat-form-field>
                            <mat-form-field class="col-12 pd-5">
                                <mat-label>Contraseña anterior</mat-label>
                                <input matInput type="password" formControlName="Clave">
                            </mat-form-field>

                            <mat-form-field class="col-12 pd-5 ">
                                <mat-label>Nueva contraseña</mat-label>
                                <input matInput type="password" formControlName="ClaveNueva">

                            </mat-form-field>

                        </div>

                        <div class="d-flex justify-content-center padding button_ingresar">
                            <button mat-button color="primary" (click)="submit()" class="btn"
                                [disabled]="!form.valid">Enviar</button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>